form {
  display: grid;
  width: 200px;
  gap: 8px;
  padding: 16px;
  background-color: gray;
  border: 1px solid black;
  border-radius: 6px;
  justify-items: center;
}

form input {
  border: 1px solid black;
}

form input:not(:focus):invalid {
  border: 1px solid black;
}

form input:focus:invalid {
  border: 1px solid black !important;
}

form input.error:invalid {
  border: 1px solid red;
}
